/*p1{
  display: flex;
  justify-content: center;
  color: white;
}*/

.buscador{
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}

.infoModal{
  display: flex;
  justify-content: space-around;
}

.personajesOrdenados{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  color: darkgoldenrod;
}

.masInfo {
  display: none;
}

.img {
  padding: 10px;
  width: 150px;
  height: 200px;
}

.button{
  background-color: white;
  color: black;
  border-color: black;
  font-family: raleway;
  font-size: 16px;
  border-radius: 8px;
}

