p1{
  display: flex;
  justify-content: center;
  color: white;
}

.buscador{
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}

.infoModal{
  display: flex;
  justify-content: space-around;
}

.personajesOrdenados{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  color: darkgoldenrod;
}

.masInfo {
  display: none;
}

.img {
  padding: 10px;
  width: 150px;
  height: 200px;
}

.modal-contenido{
  color: darkgoldenrod;
  background-color: Black;
  width: 600px;
  height: 400px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

#miModal:target{
  opacity: 1;
  color: darkgoldenrod;
  pointer-events: auto;
}
